version: '3.8'
services:
  db:
    image: postgres:15
    container_name: IAauditLog
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Senha@123
      POSTGRES_DB: IAauditLog
    ports:
      - "5432:5432"
    
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  adminer:
    image: adminer
    container_name: IAlog_adminer
    restart: always
    ports:
      - "8080:8080"


volumes:
  postgres_data: